<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add new Author</title>
    </head>
    <body>
        <form action="/author/add" method="post">
            {% csrf_token %}
            <ul style="list-style:none;">
                <h2>Add Author</h2>
                <li>First Name: <input type="text" name="first_name"></li>
                <li>Last Name: <input type="text" name="last_name"></li>
                <li>Email: <input type="text" name="email"></li>
                <input type="submit" value="Add">
            </ul>

        </form>
    </body>
</html>
