<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add new Book</title>
    </head>
    <body>
        <form action="/book/add" method="post">
            {% csrf_token %}
            <ul style="list-style:none;">
                <h2>Add Book</h2>
                <li>Name: <input type="text" name="name"></li>
                <li>info:</li>
                <li><textarea name="info" rows="8" cols="40"></textarea></li>
                <li><input type="submit" value="Add"></li>
            </ul>

        </form>
    </body>
</html>
